{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">
        
        <header>
            <section id="mobile-header">
                <div id="logo">
                    <a href="{{ site.link }}">
                        <img src="{{ site.theme.link }}/assets_build/images/logo-mobile.png" alt="">
                    </a>
                </div>
                <div id="menu-wrapper">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </section>
            <nav>
                <ul>
                    {% for item in menu.get_items %}
                        <li class="{{item.classes | join(' ')}}">
                            <a href="{{ item.get_link }}">{{ item.title}}</a>

                            {% if item.get_children %}

                                <ul>
                                    {% for child in item.get_children %}
                                        <li class="{{child.classes | join(' ')}}">
                                            <a href="{{ child.get_link }}">{{ child.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                            {% endif %}

                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        
        {% block content %}

            

        {% endblock %}
        

        {% block footer %}
            {% include 'footer.twig' %}
            <script src="{{ site.theme.link }}/assets_build/javascripts/site.min.js"></script>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
